<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1>List of todos</h1>
  <table id="todos-table">
    <tr>
      <td></td>
      <td><input id="todo-input" type="text"></td>
      <td><button id="add-button">Add</button></td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><span>Dummy</span></td>
      <td><button>Delete</button></td>
    </tr>
  </table>
  <script>
    $(document).ready(function(){
      console.log('steady ready');

      var table = $('#todos-table');

      function appendTodoToTable(title, done){
        table.append($('<tr>')
          .append($('<td>')
            .append( $('<input>', {type: "checkbox"}).attr('checked', done) )
          )
          .append($('<td>')
            .append($('<span>').text(title))
          )
          .append($('<td>')
            .append($('<button>').text('Delete'))
          )
        );
      }

      function loadTodos(){
        console.log('loading todos...');
        axios.get('/todos/')
          .then(function(response){
            var todos = response.data.todos;
            
            for(var i=0; i< todos.length; i++){
              var nextTodo = todos[i];
              appendTodoToTable(nextTodo.title, nextTodo.done);
            }
          })
          .catch(function(error){
            console.log(error);
          })
      }

      function addTodo(name){
        axios.post('/todos/addtodo', {
          title: name
        })
        .then(function(response){
          alert('response: ' + JSON.stringify(response.data.message));
          if(response.data.success){
            appendTodoToTable(name, false);
          }
          console.log('response: '+ response);
          console.log('stringified: '+ JSON.stringify(response));
        })
        .catch(function(error){
          console.log(error);
        });
      }

      $('#add-button').click(function(){
        console.log('add button clicked!');
        var newTodo = $('#todo-input').val();
        if(!newTodo) return;
        addTodo(newTodo);
      });

      loadTodos();

    });
  </script>
</body>
</html>