<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PH Todos</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="javascripts/react.js"></script>
  <script src="javascripts/react-dom.js"></script>
  <script src="javascripts/redux.js"></script>
  <script src="javascripts/react-redux.js"></script>
  <script src="javascripts/redux-thunk.js"></script>
  <script src="javascripts/redux-logger.js"></script>
</head>
<body>
  <div id="app"></div>
  <hr>
  <script src="javascripts/bundle.js"></script>
</body>
</html>